# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
*node_modules

# testing
*coverage

# production
# *build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.vscode
.config
.ssh
.vscode-server
.gitconfig
.bash_history
.mysql_history
.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.lock
package-lock.json
.npm